---
const posts = [
    {
        title: "First Blog Post",
        date: "2024-05-01",
        summary: "A short summary of the first post.",
        link: "#",
    },
    {
        title: "Second Blog Post",
        date: "2024-04-15",
        summary: "A short summary of the second post.",
        link: "#",
    },
];
---

<ul class="blog-list">
    {
        posts.map((post, idx) => (
            <li class={`blog-list-item${idx === 0 ? ' first' : ''}`}>
                <a href={post.link} class="blog-list-item-link">
                    <h4 class="blog-title">{post.title}</h4>
                    <p class="blog-date">{post.date}</p>
                    <p class="blog-summary">{post.summary}</p>
                </a>
            </li>
        ))
    }
</ul>

