---
const today = new Date();
---

<footer class="footer">
	<div class="footer-text">
		&copy; {today.getFullYear()} Maintained by Feiyang Wu. All rights reserved.
	</div>
	<div class="footer-social-links">
		<!-- Social links here, add class="footer-social-link" to each <a> -->
	</div>
</footer>
