---
// Recent news for homepage
---

<div>
    <h2 class="text-xl font-bold mb-4">Recent News</h2>
    <ul class="space-y-2">
        <li>
            <span class="font-semibold">May 2025:</span> I passed my qualifying exam.
        </li>
        <li>
            <span class="font-semibold">May 2025:</span> One paper accepted to ICML
            2025. Congrats Jingyang!
        </li>
        <li>
            <span class="font-semibold">April 2025:</span> One paper submitted to
            RA-L! Checkout here: <a
                href="https://lidar-learn-to-teach.github.io"
                class="underline text-blue-600"
                >https://lidar-learn-to-teach.github.io</a
            >.
        </li>
        <li>
            <span class="font-semibold">Sep 2024:</span> Visiting student Xavier
            Nal finished his master degree project in our lab. See our results here.
            Official submission coming soon. Initial version available online.
        </li>
        <li>
            <span class="font-semibold">May 2024:</span> I interned at Georgia Tech
            Research Institute on generalizing diffusion policies on robotics manipulation
            tasks.
        </li>
        <li>
            <span class="font-semibold">Dec 2023:</span> Our paper on using Inverse
            Reinforcement Learning accepted in ICRA 2024.
        </li>
        <li>
            <span class="font-semibold">Oct 2023:</span> Our paper on average reward
            accepted as poster in Neurips 2023.
        </li>
    </ul>
</div>
